@import '~bootstrap/scss/bootstrap';

$border-color-left: #c57136;
$border-color-right: #9b322a;
$column-2-background: #2B3747;

body {
  background-image: linear-gradient(to right, $border-color-left, $border-color-right);
}

.main {
  height: 95vh;
  margin-bottom: 20px;
  margin-top: 20px;
}

.col {
  display: inline;
}

.col1 {
  align-content: center;
  background: url('./public/vector.png');
  background-size: 100% 100%;
  margin-left: 20px;
}

.col2 {
  background-color: $column-2-background;
  margin-right: 20px;
}

.col1text {
  // display: flex;
  // text-align: left;
  margin: 300px;
}

.col2text {
  display: flex;
  text-align: left;
  margin: 200px;
}
